* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(240, 119, 119);
}
.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
}
a{
    text-decoration: none;
}
.actuel{
    text-decoration: underline;
}
header{
    background-color: red;
}
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer{
    background-color: red;
}
.foot-haut{
    padding: 20px;
}
.foot-bas{
    padding: 20px;
    text-decoration: underline;
}
header ul li{
    display: inline;
    margin: 10px;
}
main ul li{
    display: inline;
    margin: 10px;
}
.img{
    width: 40%;
}
.btn {
    color:red;
	display: inline-block;
	background-color: #ffc2c2;
	border-radius: 4px;
	padding: 0.6em 2em;
	transition: background-color 0.3s;
	margin: 1rem 0;
	text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}

.flex{
    display: flex;
    justify-content: space-between;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    margin: 50px;
    gap:30px;
}

.grid-restaurant{
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    margin: 50px;
    gap:30px;
}
.grid-recu, .grid-formulaire{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
}

.grid-restau{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 50px;
}
.image-3{
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
}
.image-4{
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
}
.image-5{
    grid-row: 4 / 4;
    grid-column: 3 / 3;
}
.cartes{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    display: flex;
}
.cartes-restau{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    display: flex;
    margin-top: 200px;
    width: 40%;
}
.cartes-recu{
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center;
    display: flex;
}
.ligne{
    background-color: black;
    height: 2px;
    border: none;
}
.temoignages{
    margin-bottom: 20px;
}
.clients-satisfaits{
    opacity: 0.5;
}
.btn:hover{
    background-color: white;
}
 img{
    width: 100%;
    height: 100%;
}
.profil{
    width: 50%;
    height: 70%;  
    border-radius: 100%;
}
.identifiants{
    display: flex;
	justify-content: space-around;
	align-items: center;
}
.required{
    color: red;
}
label{
    display: inline-block;
    margin:  15px;
}
.info-perso, .info-reservation{
    font-size: 20px;
    width: 50%;
}
form{
    display: flex;
    justify-content: space-between;
}
input{
    border-radius: 5px;
    border: none;
    font-size: 20px;
}
.label,  input {
    margin: 20px;
}
input, select{
        margin: 25px;
}
.formulaires{
    margin-top: 15%;
    margin-bottom: 15%;
}
.references{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}
h3{
    opacity: 0.5;
}

td, th{
    padding: 10px 20px;
    text-align: center;
    width: 70%;
    border-radius: 20px;
}
table{
        border-collapse: collapse;
        margin-bottom: 50px;
}
tr:nth-child(even), th {
    background-color: #ffc2c2;
  }
/*tr  > th:nth-child(2) {
border-radius: 0%;
}*/
.commande{
    background-color: black;
}